{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1>{{ title }}</h1>#}
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>#}
{#<form method="POST" action="">{% csrf_token %}#}
{#    {{ form.media }}#}
{#    {{ form.as_p }}#}
{#        <button type="submit">Submit</button>#}
{#    </form>#}
{#{% endblock content %}#}

    {% load static crispy_forms_tags i18n %} <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'css/digitech.css' %}?v=1" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'site/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <h2>Make an application</h2>
    <form action="" method="post" role="form">
      {% csrf_token %}
    {{ form.media }}
      {{ form|crispy }}
      <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Send Application' %}</button>
        <br><br>
    </form>